@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Phudu', cursive;
	line-height: 1.5;
}